/* Importación de fuentes */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

/* Reiniciar estilos básicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

/* Estilo del cuerpo */
body {
  background: #e0e5ec;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}

/* Contenedor principal */
.content_main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Cambiado a 100% para mejorar la adaptabilidad */
  padding: 0 20px; /* Añadir padding lateral */
}

/* Estilo de la imagen de portada */
#content-cover {
  width: 100%; /* Cambiado a 100% para mejor adaptabilidad */
  max-width: 330px; /* Máximo ancho */
  height: auto; /* Ajuste automático de la altura */
  margin-bottom: 1em;
  border-radius: 30%;
  background: #e0e5ec;
  box-shadow: -10px -10px 20px #ffffff, 10px 10px 10px #babecc;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Evita que el contenido exceda el contenedor */
  position: relative; /* Permite la posición del logo sobre la portada */
}

/* Barra de progreso */
#progress-bar, #volume-bar {
  width: 90%; /* Ajustado para que ocupe el 90% del contenedor */
  height: 10px;
  border-radius: 5px;
  margin: 1em 0;
  background: #e0e5ec;
  box-shadow: inset -5px -5px 10px #ffffff, inset 5px 5px 10px #babecc;
  overflow: hidden;
}

#progress {
  width: 0%; /* Inicialmente, el progreso está en 0% */
  height: 100%;
  background: linear-gradient(90deg, #76e2d0, #cc75ff);
  border-radius: 5px;
}

/* Barra de volumen */
#volume-container {
  width: 100%;
  height: 100%;
}

#volume {
  -webkit-appearance: none; /* Quitar el estilo predeterminado en Webkit */
  width: 100%;
  height: 10px;
  background: transparent; /* Fondo transparente */
  cursor: pointer;
}

/* Estilo para el thumb de la barra de volumen */
#volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px; /* Ancho del thumb */
  height: 20px; /* Alto del thumb */
  border-radius: 50%; /* Hacerlo circular */
  background: linear-gradient(90deg, #76e2d0, #cc75ff); /* Color del thumb */
  cursor: pointer;
}

#volume::-moz-range-thumb {
  width: 20px; /* Ancho del thumb */
  height: 20px; /* Alto del thumb */
  border-radius: 50%; /* Hacerlo circular */
  background: linear-gradient(90deg, #76e2d0, #cc75ff); /* Color del thumb */
  cursor: pointer;
}

/* Tiempos de audio */
.audio-time {
  width: 90%; /* Cambiado a un ancho del 90% para que se ajuste mejor */
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  color: #636d79;
}

/* Controles */
.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.custom-btn {
  width: 90px;
  height: 90px;
  border: none;
  border-radius: 50%;
  background: #e0e5ec;
  box-shadow: -7px -7px 15px #ffffff, 7px 7px 15px #babecc;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-btn:active {
  box-shadow: inset -7px -7px 15px #ffffff, inset 7px 7px 15px #babecc;
}

.custom-btn .icons {
  font-size: 1.5em;
  color: #636d79;
}

/* Nueva Sección: Programación */
.content_section {
  background: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 2em 0;
  width: 80%;
  max-width: 600px;
}

.content_section h2 {
  margin-bottom: 1em;
  color: #333;
}

.content_section ul {
  list-style-type: none;
}

.content_section li {
  margin: 0.5em 0;
}

/* Botones del footer */
footer {
  width: 100%;
  background: #e0e5ec;
  position: fixed;
  bottom: 0;
  box-shadow: -2px -2px 5px #ffffff, 2px 2px 5px #babecc;
}

.footer-buttons {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
}

footer button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background: #e0e5ec;
  box-shadow: -4px -4px 10px #ffffff, 4px 4px 10px #babecc;
  font-size: 1em;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
  text-overflow: ellipsis; /* Indica que el texto que no cabe será cortado */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Esconde el texto que se desborda */
}

footer button:active {
  box-shadow: inset -4px -4px 10px #ffffff, inset 4px 4px 10px #babecc;
}

footer button:hover {
  color: #000;
}

/* Adaptabilidad móvil */
@media (max-width: 600px) {
  #progress-bar, #volume-bar {
    width: 90%; /* Cambiado a un ancho del 90% para que se ajuste mejor */
    margin: 0 auto; /* Centrar el elemento */
  }
  
  .audio-time {
    width: 90%; /* Cambiado a un ancho del 90% para que se ajuste mejor */
    font-size: 1.2em; /* Aumentar el tamaño de la fuente */
    text-align: center; /* Centrar el texto */
  }

  .controls {
    gap: 15px;
    flex-direction: column; /* Apilar los controles verticalmente */
    align-items: center; /* Centrar los elementos en la dirección transversal */
  }

  .custom-btn {
    width: 100%; /* Botones ocupan el 100% del ancho disponible */
    height: 50px; /* Aumentar la altura del botón */
    font-size: 1em; /* Aumentar el tamaño de fuente para que sea más fácil de tocar */
    padding: 0; /* Quitar padding para ajustar el tamaño del botón */
  }

  footer button {
    width: 100%; /* Botones en el footer ocupan el 100% del ancho */
    height: 50px; /* Aumentar la altura del botón */
    font-size: 1em; /* Aumentar el tamaño de fuente para dispositivos móviles */
    padding: 0; /* Quitar padding para ajustar el tamaño del botón */
    margin: 5px 0; /* Añadir espacio entre botones */
  }
}
